.home {
  height: 100%;
  border: 2px solid white;
  background: url(../../assets/homebcg2.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}

.nameBlock {
  margin-top: 5%;
  width: 30%;
  height: 40%;
  /* border: 2px solid green; */
  margin-left: 10%;
}

.name {
  height: 30%;
  margin-top: 2rem;
  /* border: 2px solid; */
  font-size: xxx-large;
  font-weight: bolder;
}

.caption {
  margin-top: 1rem;
  font-size: medium;
  font-weight: 800;
}

.button {
  padding: 15px 30px;
  border: 2px solid #428a5c;
  background-color: #428a5c;
  cursor: pointer;
  color: white;
  margin-left: 1rem;
  font-size: large;
  font-weight: 800;
  border-radius: 4px;
}

.buttons {
  margin-top: 2.5rem;
}
