.home {
  width: 100%;
  height: 100%;
  background: url(../../assets/homebcg2.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  border: 2px solid white;
}

.navBar {
  width: 80%;
  height: 20%;
  /* border: 2px solid red; */
  margin-left: 10%;
  margin-top: 6rem;
}

.route {
  color: black;
  float: right;
  text-decoration: none;
  margin-top: 4%;
  margin-right: 3%;
  font-size: xx-large;
  font-weight: 1000;
}

.nameBlock {
  margin-top: 5%;
  width: 30%;
  height: 40%;
  /* border: 2px solid green; */
  margin-left: 10%;
}

.name {
  height: 30%;
  margin-top: 2rem;
  /* border: 2px solid; */
  font-size: xxx-large;
  font-weight: bolder;
}

.caption {
  margin-top: 1rem;
  font-size: medium;
  font-weight: 800;
}

.button {
  padding: 15px 30px;
  border: 2px solid #58e8c2;
  background-color: #58e8c2;
  cursor: pointer;
  color: black;
  margin-left: 1rem;
  font-size: large;
  font-weight: 800;
  border-radius: 4px;
}

.buttons {
  margin-top: 2.5rem;
}
