.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gainsboro;
  width: 35%;
  height: 90%;
  margin: auto;
  margin-top: 2%;
}

.inputs {
  width: 70%;
  padding: 3%;
  margin: 1%;
  border: 2px solid gainsboro;
}

.text {
  width: 70%;
  height: 30%;
  resize: none;
  padding: 1%;
  border: 2px solid gainsboro;
}
.button {
  width: 70%;
  height: 10%;
  background-color: rgb(229, 62, 41);
  color: white;
  font-size: larger;
  border: none;
  margin-top: 7%;
}

.heading {
  font-size: x-large;
  font-weight: 600;
  margin: 10px;
  font-family: revert;
}
