.mainbody {
  height: 80%;
  /* border: 2px solid green; */
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  overflow: auto;
}

.image {
  height: -webkit-fill-available;
  width: 50%;
  float: left;
}

.about {
  /* border: 2px solid red; */
  float: right;
  width: 48%;
  height: -webkit-fill-available;
}

.block1 {
  color: red;
  font-size: x-large;
  font-weight: 400;
  display: block;
}

.block2 {
  font-size: xxx-large;
  font-weight: 500;
  margin-top: 20px;
  display: block;
  color: #2d3439;
}

.block3 {
  border-left: 2px solid red;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: large;
}

.block4 {
  margin-top: 10%;
  text-align: justify;
}
